<form [formGroup]="profileForm" *ngIf="user">
  <fieldset [disabled]="!(isOnline | async)">
    <img [src]="user.avatar" />

    <div>Username: {{ user.username }}</div>

    <label>
      First Name:
      <input formControlName="firstName" type="text" />
    </label>

    <label>
      Last Name:
      <input formControlName="lastName" type="text" />
    </label>

    <label>
      Avatar:
      <input type="file" accept="image/*" (change)="selectFile($event)" />
    </label>

    <button (click)="save()">Save</button>
  </fieldset>

  <button (click)="logout()">Log Out</button>

  <p *ngIf="!(isOnline | async)">
    No network detected, please connect and try again
  </p>
</form>
